.el-icon-my-edit{
    background: url('./edit.png') center no-repeat;
    font-size: 14px;
}
.el-icon-my-edit::before{
    content: "\e611";
}

.el-icon-my-plus{
    background: url('./plus.png') center no-repeat;
    font-size: 14px;
}
.el-icon-my-plus::before{
    content: "\e611";
}

.el-icon-my-user{
    background: url('./user.png') center no-repeat;
    font-size: 14px;
}
.el-icon-my-user::before{
    content: "\e611";
}

.el-icon-my-shield{
    background: url('./shield.png') center no-repeat;
    font-size: 14px;
}
.el-icon-my-shield::before{
    content: "\e611";
}

.el-icon-my-refresh{
    background: url('./refresh.png') center no-repeat;
    font-size: 14px;
}
.el-icon-my-refresh::before{
    content: "\e611";
}

.el-icon-my-delete{
    background: url('./delete.png') center no-repeat;
    font-size: 14px;
}
.el-icon-my-delete::before{
    content: "\e611";
}

.el-icon-my-search{
    background: url('./search.png') center no-repeat;
    font-size: 16px;
}
.el-icon-my-search::before{
    content: "\e611";
}

.el-icon-my-ascende{
    background: url('./ascende.png') center no-repeat;
    font-size: 26px;
    cursor: pointer;
}
.el-icon-my-ascende::before{
    content: "\e611";
}

.el-icon-my-filter{
    background: url('./filter.png') center no-repeat;
    font-size: 26px;
    cursor: pointer;
}
.el-icon-my-filter::before{
    content: "\e611";
}

